{% extends "base.html" %}
{% block body %}
    <div class="container">
        <h1>About Us</h1><br>
        <p>We are passionate about providing you with the best products and services.</p>

        <ul>
            <li>
                <h3>Our Mission</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed vitae turpis sed metus euismod lacinia. Nullam facilisis, risus ut viverra auctor, quam urna vulputate ex, sit amet facilisis turpis tortor a libero.</p>
            </li>
            <li>
                <h3>Our Vision</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed vitae turpis sed metus euismod lacinia. Nullam facilisis, risus ut viverra auctor, quam urna vulputate ex, sit amet facilisis turpis tortor a libero.</p>
            </li>
            <li>
                <h3>Our Values</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed vitae turpis sed metus euismod lacinia. Nullam facilisis, risus ut viverra auctor, quam urna vulputate ex, sit amet facilisis turpis tortor a libero.</p>
            </li>
        </ul>

        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed vitae turpis sed metus euismod lacinia. Nullam facilisis, risus ut viverra auctor, quam urna vulputate ex, sit amet facilisis turpis tortor a libero.</p>
        <p>We strive to offer a wide range of high-quality products at competitive prices. Customer satisfaction is our top priority, and we're here to assist you with any questions or concerns.</p>
        <code>Thank you for choosing us for your online shopping needs!</p>
    </div>
{% endblock %}
