{% extends "base.html" %}
{% block body %}
<div class="row" style="margin-top:20px; margin-left:20px">
    <div class="col-8">
        <h2 style="text-align: center;">Available Items</h2>
        <table class="table table-hover table-dark">
            <thead>
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Barcode</th>
                    <th scope="col">Price</th>
                    <th scope="col">Description</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                {% for item in items %}
                {% include 'modals/items.html' %}
                <tr>
                    <td>{{ item.name }}</td>
                    <td>{{ item.barcode }}</td>
                    <td>{{ item.prettier_price }}</td>
                    <td>{{ item.description }}</td>
                    <td>
                        <button class="btn btn-outline btn-info" data-toggle="modal" data-target="#Info-{{ item.id }}">Info</button>
                        <button class="btn btn-outline btn-success" data-toggle="modal"data-target="#Buy-{{ item.id }}">Buy</button>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="col-4">
        <h2 style="text-align: center;">Owned Items</h2>
        <div class="row">
            {% for owned_item in owned_items %}
            {% include 'modals/owned_items.html' %}
            <div class="col-md-6">
                <div style="margin-bottom: 5px" class="card text-center bg-dark">
                    <div class="card-body">
                        <h5 class="card-title">{{ owned_item.name }}</h5>
                        <button type="button" class="btn btn-outline-danger" data-toggle="modal" data-target="#Sell-{{ owned_item.id }}">Sell</button>
                        <p class="card-text">
                            Costs <strong>{{ owned_item.prettier_price }}</strong>
                        </p>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    {% endblock %}