{% extends "base.html" %}
{% block body %}
    <table class="table table-hover table-dark">
        <thead>
            <tr>
                <th scope="col"></th>
                <th scope="col">Name</th>
                <th scope="col">Barcode</th>
                <th scope="col">Price</th>
                <th scope="col">Quantity</th>
                <th scope="col">Description</th>
                <th scope="col">Owner</th>
                <th scope="col">Status</th>
            </tr>
        </thead>
        <tbody>
            {% for item in items %}
            <tr>
                <td>{{ item.id }}</td>
                <td>{{ item.name }}</td>
                <td>{{ item.barcode }}</td>
                <td>{{ item.prettier_price }}</td>
                <td>{{ item.quantity }}</td>
                <td>{{ item.description }}</td>
                <td>{{ item.owned_user.username }}</td>
                <td>
                    {% if item.quantity==0 %}
                    <button class="btn btn-outline btn-danger disabled">Sold</button>
                    {% else %}
                    <button class="btn btn-outline btn-success">Buy</button>
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}